<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Pacifico&display=swap');

=======
>>>>>>> f85d29853ae511b45003b4579aeac99fd196788f
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
=======

.app {
  color: rgb(55, 232, 61);
  color: rgb(238, 83, 238);
  color: #0b0611;
}
>>>>>>> f85d29853ae511b45003b4579aeac99fd196788f
